.c-showInfoApp{
	background-color: $gray-100;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	h1 {
		text-align: center;
		font-size: 50px;
		font-weight: $font-weight-light;
		text-transform: uppercase;

		span {
			font-weight: $font-weight-bold;
		}
	}
}